# Data Science Tools and Ecosystem

This Jupyter notebook corresponds to a summary of what was learned during the course.

**The objetives of this notebook is to present:**
* List of Languages used in Data Science
* List of Data science Libraries
* Table of Tools for Data Science
* Simple Arithmetic operations in Python

The following corresponds to a list of the most used languages ​​in data science:
1. Python
2. R
3. MATLAB
4. Octave
5. Java
6. Julia

The following corresponds to a list of the most used data science libraries:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-Learn
5. TensorFlow
6. PySpark

This table lists the main tools for data science:
|Data Science Tools|
|------------------|
|Rstudio|
|Spyder|
|Apache Spark|

### On next lines, you can see some examples of arithmetic expressions in Python:

In [38]:
a= 3+3
b= 1299-123
c= 45*8
d= 122/3
print(a)
print(b)
print(c)
print(d)

6
1176
360
40.666666666666664

In [40]:
# This code is a simple arithmetic expression where first multiply and then add integers
e= (3*4)+5
print(e)

17

In [44]:
# This code will convert 200 minutes into hours. This simple arithmetic operacion consist in divide 200 by 60
f= 200/60
print(f)

3.3333333333333335

## Author
Jean Leclerc